<highcharts-chart 
      [Highcharts]="Highcharts"
      [constructorType]="chartConstructor"
      [options]="chartOptions"
      [callbackFunction]="chartCallback"

      [(update)]="updateFlag"
      [oneToOne]="oneToOneFlag"
      [runOutsideAngular]="runOutsideAngularFlag"

      style="width: 100%; height: 400px; display: block;"
    ></highcharts-chart>

<button (click)="test()">Test</button>
<h3>Filter</h3>
<div>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <label>From:</label>
    <input [(ngModel)]="timelineItemListService.filter.from" type="date" /><br />

    <label>To:</label>
    <input [(ngModel)]="timelineItemListService.filter.to" type="date" /><br />

    Activity Type:
    <label formArrayName="activityTypes" *ngFor="let genre of form.controls['activityTypes'].controls; let i = index">
      <input type="checkbox" [formControlName]="i">
      {{activityTypes[i]}}
    </label>

    <br /><button>submit</button>
  </form>

  FilterObj: {{ timelineItemListService.filter | json }}
</div>



<h3>List</h3>
<button (click)="getTimelineItemsNew()">reload</button>
<div *ngIf="localData">
  {{localData.length}} Timeline Items in total

  <table border="1">
    <tr>
      <th>itemId</th>
      <th>startDate</th>
      <th>endDate</th>
      <th>duration</th>
      <th>activityType</th>
      <!-- <th>center.longitude</th>
      <th>center.latitude</th>
      <th>radius</th>
      <th>placeCenter.longitude</th>
      <th>placeCenter.latitude</th> -->
      <th>distance</th>
      <th>bearing</th>
      <!-- <th>streetAddress</th> -->
      <th>isVisit</th>
    </tr>
    <tr *ngFor="let timelineItem of localData">
      <td>{{timelineItem.itemId}}</td>
      <td>{{timelineItem.startDate | date : "medium"}}</td>
      <td>{{timelineItem.endDate}}</td>
      <td>{{timelineItem.duration}}</td>
      <td>{{timelineItem.activityType}}</td>
      <!-- <td><span *ngIf="timelineItem.center">{{timelineItem.center.longitude}}</span></td>
      <td><span *ngIf="timelineItem.center">{{timelineItem.center.latitude}}</span></td>
      <td>{{timelineItem.radius}}</td>
      <td><span *ngIf="timelineItem.placeCenter">{{timelineItem.placeCenter.longitude}}</span></td>
      <td><span *ngIf="timelineItem.placeCenter">{{timelineItem.placeCenter.latitude}}</span></td> -->
      <td>{{timelineItem.distance}}</td>
      <td>{{timelineItem.bearing}}</td>
      <!-- <td>{{timelineItem.streetAddress}}</td> -->
      <td>{{timelineItem.isVisit}}</td>
    </tr>
  </table>
</div>

<!-- <h2>{{test.name | uppercase}} Details</h2>
<div><span>id: </span>{{test.id}}</div>
<div><span>name: </span>{{test.name}}</div>

<label>name:
  <input [(ngModel)]="test.name" placeholder="name" />
</label>

<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes" [class.selected]="hero === selectedTimelineItem">
    <a [routerLink]="" (click)="onSelect(hero)">{{hero.id}} {{hero.name}}</a>
  </li>
</ul>

<app-timeline-item-detail [timelineItem]="selectedTimelineItem"></app-timeline-item-detail> -->